/* styles.css */

/* Header */
header {
    background-color: #f8f9fa; 
    padding: 20px 0;
}

.header-title {
    font-family: 'Victor Mono', monospace; 
    font-size: 32px;
    color: #333; 
}

/* Body */
body {
    font-family: 'Be Vietnam Pro', sans-serif; 
    margin-top: 80px; 
}

.container {
    max-width: 960px;
    margin: 0 auto; 
    padding: 0 15px; 
}

h2 {
    font-size: 24px; 
    margin-bottom: 20px;
}

/* Navbar */
.navbar-brand {
    color: #333;
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #555;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler-icon {
    background-color: #333;
}

.navbar-nav .active .nav-link {
    color: #007bff;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item {
    color: #555;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #e9ecef;
}


footer {
    background-color: #f8f9fa; 
    color: #555; 
    padding: 20px 0; 
}

.social-icon {
    width: 32px; 
    margin: 0 5px;
}


form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
