/* styles.css */

/* Header */
header {
    background-color: #f8f9fa; 
    padding: 20px 0;
}

.header-title {
    font-family: 'Victor Mono', monospace; 
    font-size: 32px;
    color: #333; 
}

/* Body */
body {
    font-family: 'Be Vietnam Pro', sans-serif; 
    margin-top: 80px; 
}

.container {
    max-width: 960px;
    margin: 0 auto; 
    padding: 0 15px; 
}

h2 {
    font-size: 24px; 
    margin-bottom: 20px;
}

.navigation {
    overflow: hidden;
    background-color: #000;
}

.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    position: relative; 
    overflow: hidden; 
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: white; 
    bottom: 0; 
    left: 0; 
    transition: width 0.3s ease, top 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    top: 80%; 
}

.navigation a:hover::after {
    transform: scaleX(1); 
    top: 90%; 
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Custom styles for file upload */
.upload-container {
    margin-top: 50px;
    text-align: center;
}

.upload-input {
    display: none;
}

.upload-label {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-label:hover {
    background-color: #45a049;
}

