/* Graze CSS File */

/* Header */

header {
    background-color: #111111; 
    padding: 20px 0;
    animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-title {
    font-family: 'Victor Mono', monospace; 
    font-size: 32px;
    color: #ffffff; 
}

/* Body */

body {
    font-family: 'Be Vietnam Pro', sans-serif; 
    margin-top: 80px; 
    background-color: #111111; 
}

.container {
    max-width: 960px;
    margin: 0 auto; 
    padding: 0 15px; 
}

h2 {
    font-size: 24px; 
    margin-bottom: 20px;
}

/* Navigation Bar */

.navigation {
    overflow: hidden;
    background-color: #111111; 
}

.navigation a {
    float: left;
    color: #85AC94;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    position: relative; 
    overflow: hidden; 
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: #5A6F60; 
    bottom: 0; 
    left: 0; 
    transition: width 0.3s ease, top 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    top: 80%; 
}

.navigation a:hover::after {
    transform: scaleX(1); 
    top: 90%; 
}


/* Input Labels  */

form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    color: inherit;

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #aeb7a8; 
    border-radius: 5px;
}

/* Buttons */

button {
    width: 100%;
    padding: 10px;
    background-color: #20c073; 
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #20c073; 
}

.upload-button {
    display: block;
    margin: 20px auto; 
    background-color: #5A6F60; 
    color: #111111;
    border: none;
    padding: 10px 20px;
    font-family: 'Be Vietnam Pro', sans-serif; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-button:hover {
    background-color: #485c4d;
    transform: translateY(-5px);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #485c4d;
}

/* Footer */

.form-footer {
    margin-top: 20px;
    text-align: center;
    color: #5A6F60;
}

.form-footer a {
    color: #0d834a; 
}

/* Footer Styles */
footer {
    background-color: #343a40; 
    color: #ffffff; /* White text */
    padding: 20px;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-footer a {
    color: #20c073; 
}

/* File Upload */
    
.upload-container {
    margin-top: 50px;
    text-align: center;
}

.upload-container h2 {
    color: #5A6F60; 
}

.upload-input {
    display: none;
}

.upload-label, .upload-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-label {
    background-color: #5A6F60;
    color: #111111;
}

.upload-label:hover {
    background-color: #485c4d;
}

/* Image Cards */
    
.card-img-container {
    height: 250px; /* Adjust this */
    overflow: hidden;
}

.card-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
    /* Table styling */
table.file-links {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #5A6F60;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.file-links th,
table.file-links td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table.file-links th {
    background-color: #20c073;
    color: #5A6F60;
    text-align: left;
}

table.file-links tr:nth-child(even) {
    background-color: #111111;
}

table.file-links tr:hover {
    background-color: #111111;
}



/* Social Icons (Footer) */
    
.social-icon {
     width: 20px; /* Adjust this */
     height: auto; /* Adjust this */
     margin: 0 5px;
}
