<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graze</title>
    <!-- Favicon -->
    <link rel="icon" href="static/graze-favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

<div class="navigation">
    <a href="/home">Home</a>
    <a href="/home#what-is-it">What is Graze?</a>
    <a href="#">Upload Files</a>
    <a href="/sign_up">Sign Up</a>
    <a href="/login">Log In</a>
</div>

<!-- Add space here -->
<div style="margin-top: 75px;"></div>

<body>
    <h1>404</h1>
    <p>add more here</p></p>
</html>

<!-- Add space here -->
<div style="margin-top: 450px;"></div>
  
<!-- Footer -->
<footer class="bg-light text-black text-center p-4">
    &copy; 2024 Alex Sheng, Dhruv Rakhade, Tharun Naguleswaren. All rights reserved.
    <hr>
    View this Project:
    <a href="https://github.com/pointySphere/graze" target="_blank"><img src="/static/github-icon.png" alt="GitHub" class="social-icon"></a>
    <a href="https://devpost.com/software/graze" target="_blank"><img src="/static/devpost-icon.png" alt="Devpost" class="social-icon"></a>
</footer>

<!-- Bootstrap & jQuery JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
