<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graze | Upload</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<style>
/* CSS code here when we need it */
</style>
</head>
<body>

<body>
	{% if current_user.is_authenticated %}
<div class="navigation">
    <a href="/">Home</a>
    <a href="/#what-is-it">What is Graze?</a>
    <a href="/upload">Upload Files</a>
    <a href="/gallery">Gallery</a>
    <a href="/logout">Log Out</a>
	{% else %}
<div class="navigation">
    <a href="/">Home</a>
    <a href="/#what-is-it">What is Graze?</a>
    <a href="/sign_up">Sign Up</a>
    <a href="/login">Log In</a>
	{% endif %}
</body>

<!-- Add space here -->
<div style="margin-top: 75px;"></div>

<table>
    <tr>
        <th style="color: #20c073;">File Name</th>
        <th style="color: #20c073;">User</th>
    </tr>
    {% for filename, username in file_users_dict.items() %}
    <tr>
        <td><a href="{{ url_for('display_file', filename=filename) }}">{{ filename }}</a></td>
        <td>{{ username }}</td>
    </tr>
    {% endfor %}
</table>
<!-- Add space here -->
<div style="margin-top: 450px;"></div>
  
<!-- Footer -->
<footer class="bg-dark text-white text-center p-4">
    &copy; 2024 Alex Sheng, Dhruv Rakhade, Tharun Naguleswaren. All rights reserved.
    <hr>
    View this Project:
    <a href="https://github.com/pointySphere/graze" target="_blank"><img src="/images/github-icon.png" alt="GitHub" class="social-icon"></a>
    <a href="https://devpost.com/software/graze" target="_blank"><img src="/images/devpost-icon.png" alt="Devpost" class="social-icon"></a>
</footer>

<!-- Bootstrap & jQuery JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
